<h3>Welcome to {{ title }}!</h3>

<!-- <app-lesson1></app-lesson1> -->
<!-- <app-lesson2></app-lesson2> -->
<!-- <app-lesson3></app-lesson3> -->
<!-- <app-homework1></app-homework1> -->
<!-- <app-lesson4></app-lesson4> -->
<!-- <app-lesson5 [id]="title" account="Test"></app-lesson5> -->

<!-- <ul>
  <li>
      <a href="lesson1">Lesson1</a>
  </li>
  <li>
      <a href="lesson2">Lesson2</a>
  </li>
  <li>
      <a href="lesson3">Lesson3</a>
  </li>
</ul> -->

<!-- Single Page Application -->
<ul>
  <li>
    <a [routerLink]="['/lesson1']">Lesson1</a>
  </li>
  <li>
    <a [routerLink]="['/lesson2']">Lesson2</a>
  </li>
  <li>
    <a [routerLink]="['/lesson3']">Lesson3</a>
  </li>
  <li>
    <a [routerLink]="['/homework1']">Homework1</a>
  </li>
  <li>
    <a [routerLink]="['/lesson4']">Lesson4</a>
  </li>
  <li>
    <a [routerLink]="['/lesson5']">Lesson5</a>
  </li>
  <li>
    <a [routerLink]="['/lesson7']">Lesson7</a>
  </li>
  <li>
    <a [routerLink]="['/lesson8']">Lesson8</a>
  </li>
  <li>
    <a [routerLink]="['/lazy']">Lazy</a>
  </li>
  <li>
    <a [routerLink]="['/model-driven']">ModelDriven</a>
  </li>
</ul>

<br>

<router-outlet></router-outlet>